.container {
  display: flex;
  height: 100vh;
}

.text-section {
  width: 50%;
  overflow-y: auto;
  color: #5a3d21;
  padding: 40px;
  line-height: 1.5;
}

#map {
  width: 50%;
  height: 100vh;
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
}
