.container {
  display: flex;
  height: 100vh; /* Full screen height */
}

.text-section {
  width: 40%;
  overflow-y: auto; /* Allows scrolling if content is long */
}

#map {
  width: 60%;
  height: 100vh;
}

h1 {
  text-align: center;
}
